<!DOCTYPE html>
<!--
	ubusina by freshdesignweb.com
	Twitter: https://twitter.com/freshdesignweb
	URL: https://www.freshdesignweb.com
-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tutor</title>
  {% load static %}
	<link rel="stylesheet" href="{% static 'tutor/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'tutor/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'tutor/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<style>
	#searchbox {
    position:absolute;
		left: -400px;
		top:-13px;



    display:inline-block;
    z-index:10
}

	</style>
</head>
<body>

	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 header-logo">
					<br>
          {% load static %}
					<a href="index.html"><img src={% static "tutor/img/logo.png" %} alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-7">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					      <ul class="nav navbar-nav navbar-right">
									<li><form id="searchbox" action="{{'/tutors/'}}" method="get"><h3>
									<input type="text" placeholder="Search tutor by Subjects" name="search_box" style="width:300px;height:40px;color:green;"/>
									<button type="submit" style="width:80px;color:green;">Search</button>
								</h3></form>
									</li>
					        <li><a class="menu active" href="/home/" >Home</a></li>
                  {% if user.is_authenticated %}
									<li><a class="menu active" href="/accounts/profile/" >{{ user.get_full_name }}</a></li>

                  <li><a class="menu" href="/logout/">Logout</a></li>
                  {% else %}
                  <li><a class="menu" href="/login/">Login</a></li>
							    <li><a class="menu" href="/register/">Register</a></li>
                  {% endif %}


					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->





				<div class="container-fluid">
					<div class="row">

					    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
							<div class="header-backup"></div>
					        <!-- Wrapper for slides -->
                  {% load static %}
					        <div class="carousel-inner" role="listbox">
					            <div class="item active">
					            	<img src={% static "tutor/img/slide-one.jpg" %} alt="">


					            </div>
					            <div class="item">
					            	<img src={% static "tutor/img/slide-two.jpg" %} alt="">

					            </div>
					            <div class="item">
					            	<img src={% static "tutor/img/slide-three.jpg" %} alt="">

					            </div>
					            <div class="item">
					            	<img src={% static "tutor/img/slide-four.jpg" %} alt="">

					            </div>
					        </div>

					        <!-- Controls -->
					        <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
					            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					            <span class="sr-only">Previous</span>
					        </a>
					        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
					            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					            <span class="sr-only">Next</span>
					        </a>
					    </div>

					</div>
				</div>
			</section><!-- end of slider section -->




			<!-- service section starts here -->


			<section class="service text-center" id="service">
				<div class="container">
					<div class="row">
						<h2>our services</h2>
						<h4>We provide best for student depending upon their need and interest</h4>

						<div class="col-md-3 col-sm-6">
							<div class="single-service">
								<div class="single-service-img">
									<div class="service-img">

										<img class="img-responsive" src={% static "tutor/img/service1.png" %} alt="">
									</div>
								</div>
								<h3>Tution/Coaching</h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="single-service">
								<div class="single-service-img">
									<div class="service-img">
										<img class="img-responsive" src={% static "tutor/img/service2.jpg" %} alt="">
									</div>
								</div>
								<h3>Scholarship</h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-6">
							<div class="single-service">
								<div class="single-service-img">
									<div class="service-img">

										<img class="img-responsive" src={% static "tutor/img/service3.png" %} alt="">
									</div>
								</div>
								<h3>Mock Test</h3>
							</div>
						</div>


						<div class="col-md-3 col-sm-6">
							<div class="single-service">
								<div class="single-service-img">
									<div class="service-img">

										<img class="img-responsive" src={% static "tutor/img/service4.png" %} alt="">
									</div>
								</div>
								<h3>Guidance</h3>
							</div>
						</div>
					</div>
				</div>
			</section><!-- end of service section -->


			<!-- team section -->

>


			<!-- footer starts here -->
			<footer class="footer clearfix">
				<div class="container">
					<div class="row">

						<div class="col-xs-8 text-center">
							<h3>Cities</h3>
					{% for obj in acc %}
					 <h4>
							<a href="/tutors/{{ obj.city }}/">{{ obj.city }}</h4></a>

							{% endfor %}

						</div>


						<div class="text-right">
							<h3>Subjects</h3>
					{% for obj in sub %}
					 <h4>
							<a href="/tutors/{{ obj.subject }}/">{{ obj.subject }}</h4></a>

							{% endfor %}

						</div>
						<div class="col-xs-6 footer-para">
							<p>&copy;All right reserved by Ankur Tripathi</p>
						</div>



						<div class="col-xs-6 text-right">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-skype"></i></a>
						</div>
					</div>
				</div>
			</footer>





	<!-- script tags

  ============================================================= -->
  {% load static %}

	<script src="{% static 'tutor/js/jquery-2.1.1.js' %}"></script>
	<script src="{% static 'tutor/js/smoothscroll.js' %}"></script>
	<script src="{% static 'tutor/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'tutor/js/custom.js' %}"></script>

</body>
</html>
