<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Tutor Profile</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    {% load static %}
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'assets/css/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/pe-icon-7-stroke.css' %}" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="Aqua" data-image={% static "assets/img/sidebar-5.jpg" %}>

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/home/" class="simple-text">
                    Smart Tution
                </a>
            </div>




            <ul class="nav">
                <li class="active">
                    <a href="/accounts/profile/">
                        <i class="pe-7s-graph"></i>
                        <p>Tutor</p>
                    </a>
                </li>
                <li>
                    <a href="/userprofile/">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-note2"></i>
                        <p>Add Expertise</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-news-paper"></i>
                        <p>Add Qualifications</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>


            </ul>

    	</div>
    </div>

    <div class="main-panel" style="background-color:LightCoral;">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">

                  <div class="col-xs-5 header-logo">
                    <br>
                    {% load static %}
                    <a href=""><img src={% static "tutor/img/logo.png" %} alt="" class=""></a>
                  </div>


                </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-top:-5px;">
                        <li>

                            <a href="/logout/">
                              <h2 style="color:#42D800;display:block;">  Logout</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">


<table rules="cols" style="width:100%;border:1px solid grey;color:marron;">

<tr>
<th style="width:50%";>
	<center><h3><U>About</u></h3></center>

</th>


<th style="width:50%";>
	<center><h3><U>Qualifications</u></h3></center>
</th>
</tr>
<tr style="margin-top:-30ps;">
<td>
	<div class = "content" style="padding: 0px 0px 0px 0px;">
		<center><h4 style="color:black;">
					 {{ tbio.describe }}

				 </h4></center>
			<p>
				<h5>
				{{ tbio.bio }}
		</h5>


			</p>
	</div>

</td>
	<td>
<div class = "content" style="padding: 0px 0px 0px 0px;">
		<center><h4 style="color:black;">
           {{ qualify.highestQualification }}</h4>
					 <h5>In<br/>
					 {{ qualify.stream }} </h5>

				 </center>
		<p>
			<h5>
		university :  {{ qualify.university }}<br/>
	  Experience :  {{ qualify.experience }} years<br/>
	</h5>


		</p>
</div>

</td>
</tr>
</table>






        </div>
          </div>
                    <div class="col-md-4">

                        <div class="card card-user">
                                <div class="content">
                                <div class="author">
                                     <a href="/Tution/media/{{use.profilepicture}}/">
                                    <img class="avatar border-gray" src= "http://localhost:8000/Tution/media/{{use.profilepicture}}" alt="..."/>

                                      <h3 class="title" style="color:black;">

                                          {{ use.get_full_name }}
                                        <br/>


                                      </h3>
                                    </a>
                                </div>
                                <p class="description text-center">
                                  <h4>
                                Mobile :  {{ use.mobile }}<br/>
                                Email :  {{ use.email }}<br/>


                                </p>
                            </div>
                            <hr>

                        </div>




												<div class="card card-user" style="background-color:linen;">

																<center><h2>Expert in</h2></center>



																<table rules="all" cellspacing="-10" style="width:100%;text-align: center;border:1px solid grey;color:marron;">
													      <tr class="container" style="text-align: center;color:black">
													        <th style="text-align: center;"><h3>Subject</h3></th>
													        <th style="text-align: center;"><h3>Level</h3></th>
													      </tr>
													      {% for obj in subject %}
													      <tr class="container" style="text-align: center;color:maroon;padding: 0;">

													        <td><h4>{{obj.expert}}<h4></td>
													        <td><h4>{{obj.level}}</h4></td>
													      </tr>
													      {% endfor %}
													      </table>


														</div>


												</div>

                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">


                <p class="copyright pull-left">
                    &copy;All right reserved by Ankur Tripathi
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

</html>
